{% extends "manager/base.html" %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <div class="container mt-5 myform-container">
      <h2 class="mb-4 myformhead">Change Your Password Here</h2>
      <form method="post" class="myform">

      {#____ change password form ____#}
        {% csrf_token %}
        {{ form.as_p }}
          <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
              <button onclick="changePassword(event)" class="btn btn-primary me-md-2 btn-submit" type="submit">Save</button>
              {#____ return to manager profile ____#}
              <button onclick="location.href='{% url 'manager_profile' %}' " class="btn btn-outline-secondary btn-return">Return</button>
          </div>
      </form>
    </div>
<script src="{% static 'js/ConfirmInformation.js' %}"></script>
{% endblock %}


