{% extends "manager/base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container mt-5 myform-container">
      <h2 class="mb-4 myformhead">Your Profile</h2>
      <form method="post" class="myform">
      {#____ show manager information form ____#}
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
          <a class="btn btn-primary me-md-2 btn-submit" type="submit" href="{% url 'manager_profile_edit' %}">Edit</a>
          <a class="btn btn-outline-secondary btn-return" href="{% url 'manager_home' %}">Return</a>
        </div>
        <p class="change-password">
          <a href="{% url 'change_password' %}">Change Password</a>
          {% if messages%}
            {% for message in messages%}
              {{message}}
            {% endfor %}
          {% endif %}
        </p>
          
      </form>
    </div>

{% endblock %}