{% extends "manager/base.html" %}
{% load static %}

{% block title %}Room{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="d-flex justify-content-end mb-3">
        {# ___ Add new room button ___ #}
            <button onclick="location.href='{% url 'add_room_type' %}'" class="btn btn-primary add-new-type">
                + Add New Room Type
            </button>
        </div>

    <div class="row">
            {% for room_type in room_types %}
                {# ___ show room type in cards ___ #}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <img src="{{ room_type.image.url }}" class="card-img-top" alt="Room Image"
                                style="width: 100%; height: 18rem; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a class="card-title type-title" href="{% url 'show_rooms' room_type.id %}">{{ room_type.type }}</a>
                            </h5>
                            <p class="card-text type-text">£{{ room_type.price }} a day</p>
                            <p class="card-text type-text2">Facilities: {{ room_type.formatted_facilities }}</p>
                        </div>
                        <div class="card-footer bg-white">
                            <form action="{% url 'delete_room_type' room_type.id %}" method="post" onsubmit="return confirmInformation();">
                                <a href="{% url 'update_room_type' room_type.id %}" class="btn btn-warning me-2 edit-room-type">Edit</a>
                                {% csrf_token %}
                                <input type="submit" value="Delete" class="btn btn-danger delete-room-type"/>
                            </form>
                        </div>
                    </div>
                </div>

            {% empty %}
                <p>No rooms available. Add room type first!</p>
            {% endfor %}
        </div>
    </div>

    <script src="{% static 'js/ConfirmInformation.js' %}"></script>
{% endblock %}