{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book a Room</title>
    <link href="{% static 'css/confirmation.css' %}" rel="stylesheet" >
</head>
<body>

<main>

  <section id="confirm">
    <h1>Book Your Room</h1>
  </section>
  <section id="deals">
      <div class="deals-one">

          <h2>{{ type.hotel.name }}</h2>

          <div class="deals-one-bot">
              <img src="{{ type.image.url }}" alt="Hotel Image">
              <div class="deals-one-right">

                <h3>{{ type.type }}</h3>
                <p>£{{ type.price }} one night</p>
                <p>{{ type.guests }} guests</p>
              </div>
          </div>
      </div>

      <div class="deals-two">
          <h2>Filling Information</h2>
          <div class="meaasgae">
              {% if from == 'no_room' %}
                  <p>All rooms are booked for the selected dates.</p>
              {% elif from == 'date_error' %}
                  <p>Check out date must be later than the check in date.</p>
              {% endif %}
          </div>
          <div>
              <form method="post" action="">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <p class="button-container">
                    <button type="submit" class="confirm-booking">Confirm Info.</button>
                    <button class="btn btn-secondary mt-3 btn-return" onclick="location.href='{% url 'hotel_details' type.hotel.id %}'";>Return</button>
                    

                </p>
              </form>
          </div>
      </div>

      {% if messages %}
    <script type="text/javascript">
    window.onload = function() {
        {% for message in messages %}
            {% if message.tags == "error" %}
                alert("Error: {{ message }}");
            {% endif %}
        {% endfor %}
    }
    </script>
{% endif %}


  </section>
</main>


</body>
</html>