/* Base Styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fffbe7; /* Light yellow background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header Styles */
.main-header {
    text-align: center;
    margin-bottom: 2rem;
}

.main-header .main-title {
    font-size: 3rem;
    color: #d1a545; /* Warm yellow for title */
}

.welcome-message, .welcome-message2 {
    font-size: 1.1rem;
    color: #666; /* Darker text for readability */
    margin: 1rem 0;
}

.welcome-message a, .welcome-message2 a {
    color: #d1a545; /* Warm yellow for links */
    text-decoration: none;
    font-weight: bold;
}

/* Login Styles */
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem; /* Adds space between the login container and any elements below */
}

.form {
    margin-top: 1em;
}

.form label {
    display: block;
    text-align: left;
    margin: 0.5em 0;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="submit"] {
    width: 100%;
    padding: 0.75em;
    margin-bottom: 1em;
    border: 2px solid #d1a545;
    border-radius: 4px;
}

.submit-button {
    width: 100%; /* Full width of form to center the button inside */
    display: flex;
    justify-content: center; /* Centers the button horizontally */
}

.submit-button input[type="submit"] {
    width: 50%;
    padding: 0.75em;
    margin-top: 0.5em;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    background: #d1a545;
    color: #fff;
    justify-content: center;
}

.register-password {
    display: flex;
    justify-content: center; /* Center the links horizontally */
    flex-wrap: wrap; /* Allows content to wrap on small screens */
    gap: 0.5em; /* Adds a small gap between links */
}

.register-password a {
    color: #d1a545; /* Warm yellow for links */
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem; /* Adjust font size as necessary */
}

.return-button a {
    padding: 5px 10px; /* Smaller padding for a smaller button */
    font-size: 0.8rem; /* Smaller font-size for the text inside the button */
    margin-top: 20px; /* Adjust margin as needed */
    display: inline-block; /* Adjust display as needed */
    background: #d1a545; /* Keep the yellow background */
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: auto; /* Let the width be determined by the content and padding */
}



/* Responsive Design */
@media (max-width: 768px) {
    .main-header .main-title {
        font-size: 2.5rem;
    }
}
