body {
    background-color: #fffbe7;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.basenavtop {
    background-color: #d1a545 !important;
}

.navbar-brand{
    font-size:29px;
    font-weight:900;
    font-family: 'Arial', sans-serif;
}

.icon-button {
  border: none;
  background: none;
  padding: 0.375rem 0.75rem;
  color: #ffffff;
  cursor: pointer;
}

.icon-button i {
  font-size: 2em;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    background: #ffeda7;
    height: 100vh;
    width: 250px;
    position: fixed;
}

.sidebar ul li a {
    color: #495057;
    font-size: 23px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 900;
    padding: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar ul li a i {
    width: 20px;
}

.sidebar ul li a:hover {
    color:  #d1a545;
    background-color: #f8f9faa8;
}

/*____________________hotel home page*/
.hotel-name {
    color:  #d1a545;
    font-size: 38px;
    font-family: "Gill Sans", sans-serif;
    font-weight: 900;
    padding-left:80px;
}

.hotel-info,.list-group,.list-group-flush,.list-group-item{
    background-color: #fffbe7;
    width:600px;
    padding-left:30px;
}

.card-hotel-info{
    background-color: #fffbe7;
    border-width:4px;
    border-style:dashed solid;
    height:200px;
    margin-top:40px;
}
.card-num-title {
    color: #000000;
    font-size: 20px;
    padding-top:20px;
    margin-top:15px;
}

.card-num-text {
    color: #d1a545;
    font-size: 32px;
    font-weight: bolder;
    font-style:oblique;
    padding-top:15px;
    padding-bottom:20px;
}

.star-rating .fas,
.star-rating .far {
    color:  #d1a545;
}


/*____________________room type page*/
.card-title a.type-title:hover {
  color: #ba8000;
  text-decoration: none;
}

.add-new-type,.add-new-room{
    background-color:  #d1a545;
    border-color: #d1a545;
    padding: 10px 20px;
    font-size: 1rem;
}

.edit-room-type,.edit-room{
    background-color:  #d1a545;
    border-color: #d1a545;
    width:70px;
    height:38px;
    color:white;
}

.delete-room-type,.delete-room{
    background-color: #dc3545de;
    border-color: #dc3545de;
    width:70px;
    height:38px;
}

.type-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.type-text {
    font-size: 1.5rem;
    color: #555;
}

.type-text2 {
    font-size: 1rem;
    color: #555;
}

/*____________________checkin/booking page*/
.search{
    color:white;
    background-color: #d1a545;
    border-color: #d1a545;
}

.reset,.filter{
    background-color: #d1a545;
    border-color: #d1a545;
    width:70px;
    height:35px;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #ffeda700 !important;
}

/*____________________buttons*/
.btn-submit, .btn-return{
    width:75px;
    height:40px;
    margin-top:45px;
}

.btn-submit{
    background-color: #d1a545;
    border-color: #d1a545;
    margin-left:250px;
}

.btn-return{
    color:white;
    background-color: #dc3545de;
    border-color: #dc3545de;
    margin-left:50px;
}

.change-password{
    margin-top:50px;
    margin-left:290px;
}

/*____________________forms*/
.myform-container {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h2.myformhead {
    margin-top:50px;
    color: #333;
    text-align: center;
}

.myform p {
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

.myform label {
    margin-top:50px;
    display: block;
    margin-bottom: .5rem;
    color: #666;
}

/*____________________ input*/
.myform input[type="text"],
.myform input[type="number"],
.myform input[type="email"],
.myform input[type="password"],
.myform select,
.myform textarea {
    width: 97%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    height:50px;
    margin-left: auto;
    margin-right: auto;
}

.help-text {
    display: block;
    text-align: center;
    color: #888;
    font-size: 14px;
    margin-top: -10px;
}


/*____________________ checkbox*/
.myform .checkbox, .form .checkbox label {
    display: inline-block;
    margin-right: 15px;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        color:#666;
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}


/*____________________ small window for booking details*/
#details-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* hidden by default */
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4); /* semi-transparent backdrop */
    z-index: 1000; /* ensure it's on top of other elements */
}

#details-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px; /* adjust width for a smaller pop-up */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 60px;
}

#details-container button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close-button {
    font-size: 24px; /* Large size for the 'x' */
    line-height: 24px; /* Align the 'x' within the button */
    width: 32px; /* Width of the close button */
    height: 32px; /* Height of the close button */
    border: none; /* Remove border */
    background: transparent; /* Transparent background */
    cursor: pointer; /* Cursor indicates clickable item */
    outline: none; /* Remove outline to avoid focus ring */
    position: absolute;
    top: 10px;
    right: 10px;
}

