<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>
    <meta charset="UTF-8">
    <title>
        Register
    </title>
    <link href="{% static 'css/register.css' %}" rel="stylesheet">
</head>
<body>
    <div class="register-container">

        <div class="register-title">User Register</div>
        <form method="post" class="form">
            {% csrf_token %}
            {{form.as_p}}
            <p><input type="submit" value="Confirm" class="submit-button"/></p>
        </form>
        <div class="return-button"><a href="{% url 'login' %}">Return</a></div>


    </div>
</body>