{% extends "booking/base.html" %}
{% load static %}

{% block main %}
<main>
    <div class="px-3 py-2 mt-5">
        <div class="container d-flex flex-wrap justify-content-center">
            <form class="col-12 col-lg-10 mb-2 mb-lg-0" role="search" action="{% url 'search' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-4">
                        <input type="search" class="form-control" placeholder="Where are you going?" name="location" value="{{ location }}">
                    </div>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" name="check-in-date">
                    </div>——
                    <div class="col-sm-3">
                        <input type="date" class="form-control" name="check-out-date">
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Not sure where to go? Perfect.</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                     style="background-image: url({% static 'images/unsplash-photo-1.jpg' %}); height: 350px;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">London</h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto"></li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill"/>
                                </svg>
                                <small>London</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3"/>
                                </svg>
                                <small>3d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                     style="background-image: url({% static 'images/unsplash-photo-2.jpg' %}); height: 350px;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Glasgow</h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto"></li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill"/>
                                </svg>
                                <small>Glasgow</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3"/>
                                </svg>
                                <small>4d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                     style="background-image: url({% static 'images/unsplash-photo-3.jpg' %}); height: 350px;">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Manchester</h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto"></li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill"/>
                                </svg>
                                <small>Manchester</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3"/>
                                </svg>
                                <small>5d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
