{% extends "base.html" %}
{% load static %}

{% block main %}
<main>
    <div class="px-3 py-2 mt-5">
        <div class="container d-flex flex-wrap justify-content-center">
            <form class="col-12 col-lg-10 mb-2 mb-lg-0" role="search" action="{% url 'search' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-4">
                        <input type="search" class="form-control" placeholder="Where are you going?" name="location" value="{{ location }}">
                    </div>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" name="check-in-date">
                    </div>——
                    <div class="col-sm-3">
                        <input type="date" class="form-control" name="check-out-date">
                    </div>
                    <div class="col-sm-1">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Not sure where to go? Perfect.</h2>

        <!-- Carousel start -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner my-6">
                <div class="carousel-item active">
                    <img src="{% static 'images/unsplash-photo-1.JPG' %}" class="d-block w-100" height="400" alt="...">
                    <div class="carousel-caption d-none d-md-block">
    
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/unsplash-photo-2.jpg' %}" class="d-block w-100" height="400" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/unsplash-photo-3.JPG' %}" class="d-block w-100" height="400" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                       
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Carousel end -->
    </div>
</main>
{% endblock %}