
    <link rel="stylesheet" type="text/css" href="{% static 'css/bookingManagement.css' %}">

    <div class="container">
        <div class="left-panel">
            <div class="booking-info">
                <h2>Upcoming</h2>
                <p><strong>Booking No.</strong> 0123456</p>
                <p><strong>Booking Date</strong> 18:00, Jan 30, 2024</p>
                <button>Review</button>
                <button>Cancel</button>
            </div>
            <div class="contact-info">
                <h2>Contact Info</h2>
                <p><strong>Email</strong> 12345@gmail.com</p>
                <p><strong>Contact Number</strong> +447113232123</p>
            </div>
        </div>
    </body>
        <div class="right-panel">
            <div class="hotel-info">
                <div class="hotel-image">
                    <img src="{% static 'images/hotel5.jpg' %}" alt="Park Plaza London">
                </div>
                <div class="hotel-details">
                    <h2>Park Plaza London</h2>
                    <p>200 Westminster Bridge Rd, London SE1 7U</p>
                    <p><strong>Call Hotel</strong> 0333 400 6112</p>
                    <h3>Standard Room</h3>
                    <p><strong>Price For:</strong> 1 Adult</p>
                    <p><strong>Bed:</strong> 1 queen bed</p>
                    <p><strong>Smoking:</strong> Non-smoking</p>
                </div>        
            <div class="price-details">
                <h2>Price Detail</h2>
                <p><strong>1 Room for 1 Night:</strong> £255</p>
                <p><strong>Tax:</strong> £5</p>
                <p><strong>Total:</strong> £260</p>
            </div>
        </div>
    </div>
