{% extends "hotels/hotel_template.html" %}

{% block content_pane %}
<div class="content-header">
    {% if hotel %}
    <h1>{{ hotel.name }}</h1>
    <div>
        <input type="text" placeholder="Search"/>
    </div>
</div>
<div>
<div class="content-pane">
    <div class="summary" >
        <div class="summary-header">
            <label>{{ hotel.name }}</label>
            <div>
                {% for i in hotel.star %}
                    <li>*</Li>                
                {% endfor %}
            </div>            
            <label>{{ hotel.star }}</label>
        </div>
        <div class="summary-body">
            <div class="hotel-image">PLACEHOLDERFORIMAGE</div>
            <div class="hotel-description">
                <div class="hotel_address">
                    <label>ICON</label>
                    <label>{{ hotel.location }}</label>
                </div>
                
                <div class="features">  
                    <label>feature</label>    
                    <label>feature</label>  
                    <label>feature</label>  
                    <label>feature</label>  
                    <label>feature</label>  
                    <label>feature</label>                   

                </div>
                <div class="reviews">

                </div>               

            </div>
            
        </div>
    </div>  
   
</div>
{% if rooms %}
<div class="room-list">
    {% for room in rooms %}
    <li>
        <div class="room-description">

        </div>
    </li>
    {% endfor %}
</div>
{% endif %}
{% endif %}

{% endblock %}