{% extends 'base.html' %}
{% load static %}
{% block css_ext %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bookingManagement.css' %}">
{% endblock %}

{% block main%}
  
<div class="container">
    <div class="row">
    <div class="left-panel col-sm-auto">
                <h3>{{res.room_number.type.hotel.name}}</h3> 
                <h5>Contact Info</h5>
                <strong>Email:</strong> <p>{{res.room_number.type.hotel.email}}</p>
                <strong>Contact Number:</strong> <p>{{res.room_number.type.hotel.phone}}</p>
                <strong>Address:</strong> <p>{{res.room_number.type.hotel.location}}</p>
                <strong>City:</strong> <p>{{res.room_number.type.hotel.city}}</p>
                <strong>Postcode:</strong><p>{{res.room_number.type.hotel.postcode}}</p>
    </div> 
    <div class="container col">
        <div class=" right-panel">
        <div class="row">
            <h2>Room Details</h2>
        </div> 
        <div class="row">    
            <div class="hotel-info">
                <div class="hotel-image">
                    <img src="{{res.room_number.type.image.url}}" alt="Room Image">
                </div>
                <div class="hotel-details">
                    <h4>{{res.room_number.type.type}}</h4>
                    <strong>Features</strong>
                    {% for fac in facilities%}
                    <p class="my-1">{{fac}}</p>
                    {% endfor %}
                </div> 
            </div>
        </div>
        <div class="row mx-0">        <!-- IF NOT CHECKED IN/OUT SHOW BUTTON : ELSE SHOW CHECK IN/OUT DATE -->
        
        {%if res.check_in_date %}                         
        <h5><strong>Checked-In:</strong> {{res.check_in_date}}</h5>
        {% else %}
        <label class><strong>Check In From:</strong> {{res.from_date}}</label>
        {% endif %}        
        
         {%if res.check_out_date %} 
         <h5><strong>Checked-out:</strong> {{res.check_out_date}}</h5>
         {% else %}
         <label><strong>Check Out On:</strong> {{res.to_date}}</label>
         {% endif %}         
        </div>
    </div>
</div>      
    <div class="container right-panel col">             
        <div class=" col-sm-auto">
            <h2>Price Details</h2>
            <strong>1 Night:</strong> <p>£{{res.room_number.type.price}}</p>
            <strong>Nights:</strong> <p>{{nights}}</p>
            <strong>Total:</strong><p>£{{res.total_price}}</p>
        </div>
    </div>
</div>
</div>
    <div class="row right-panel">    
    <div class="content right-panel col">
        {%if res.review_comment %} 
        <p><strong>Comment: </strong>{{res.review_comment}}</p>
        <p><strong>Rating: </strong>{{res.review_star}}</p>
        <p><strong>Date: </strong>{{res.review_date}}</p>
        {% else %}
        <form method="post" action="{% url 'review_booking' res.id %}">
           {% csrf_token %}
           <div class="form-group mb-3">
            <p>Leave a Review:</p>
               <textarea type="text" class="form-control row m-2" placeholder="Review" name="review"></textarea>
            <p>Leave a Rating:</p>  
               <input  id="ratingvalue"type="text" class="form-control row" placeholder="Star" name="star">
               <!-- taken from https://getbootstrap.com/docs/4.0/components/button-group/ -->
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <button type="button" onclick="reviewValue(1,this)" class="btn btn-secondary">1</button>
                  <button type="button" onclick="reviewValue(2,this)" class="btn btn-secondary">2</button>
                  <button type="button" onclick="reviewValue(3,this)" class="btn btn-secondary">3</button>
                  <button type="button" onclick="reviewValue(4,this)" class="btn btn-secondary">4</button>
                  <button type="button" onclick="reviewValue(5,this)" class="btn btn-secondary">5</button>                                    
                </div>
                <script>
                    function reviewValue(inputValue, el){
                        $('#ratingvalue').value = inputValue
                        $(el).css()
                    }
                </script>
            </div>
               <button class="btn btn-outline-secondary" type="submit">Send</button>
               {% endif %}
           </div>
       </form>
    </div>
   </div>
</div>
</div>

<footer>
    <p>© 2024 EasyStay. All rights reserved.</p>
</footer>

{% endblock %}
