{% extends 'base.html' %}
{% load static %}
{% block css_ext %}

<link href="{% static 'css/blog.css' %}" rel="stylesheet">
<link href="{% static 'css/list-groups.css' %}" rel="stylesheet">
<link href="{% static 'css/hoteldetails.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/userProfile.css' %}">
{% endblock %}

{% block main %}
    {% if user %}
    <div class="profile-pic">
        <h2>{{user.username}}</h2>
        <a href="{% url 'user_change_password'%}">Change Password</a>
    </div>    
    <main>
        <section id="active-reservations">
            {% if reservations %}
            {% for res in reservations %}
            <h2>Active Reservations</h2>
            <ul>
                <li><a href="{% url 'booking_management' %}"><span>{{res.room_number.type.hotel.name}}</span>  <img src="{{res.room_number.type.hotel.image.url}}" alt="Hotel Image"> <span>From: {{res.from_date}}</span></a></li>
               
            </ul>
            {% endfor %}
            {% endif %}
        </section>
        {% if reservations %}
        {% for res in reservations %}
        <section id="past-bookings">
            <h2>Past Bookings</h2>
            <ul>
                <li><a href="#">{{res.room_number.type.hotel.name}} <img src="{{ res.room_number.type.hotel.image.url }}" alt="{{res.hotel.image}}">{{res.room_number.type.hotel.star}}</a></li>
                <!-- Add more bookings as needed -->
            </ul>
            {% endfor %}
            {% endif %}
        </section>
    </main>
    <footer>
        <p>© 2024 EasyStay. All rights reserved.</p>
    </footer>
    {% endif %}
{% endblock %}
